{% extends "base.html" %}
{% load static %}

{% block content %}
  <main>
    <div class="container-fluid">
         <div class="mask d-flex justify-content-center align-items-center" style="height: 100vh; background-image: url('{% static 'img/Image.png' %}'); background-size: cover; background-repeat: no-repeat;">
          <div class="mask d-flex justify-content-center align-items-center">
            <div class="text-center white-text mx-5 wow fadeIn my-auto">
              <div style="margin-top: 10px;">
               <center>
                  <!-- Brand -->
                <a class="navbar-brand waves-effect navbar-brand mx-4" href="/" target="_blank">
                  <img src="{% static 'img/valores.svg' %}" style="height: 200px;">
                </a>
               </center>
              </div>
              <div style="margin-bottom: 100px;">
                <h1 style="font-family: K2D, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 3.4rem; font-weight: 900;">
                <strong>Get affordable healthy daily meals. Overcome poor diets!</strong>
              </h1>
              <p style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.2rem; font-weight: 300;">
                <strong>Order pre-rationed nutrition-complete grocery for any meal. Free delivery in less than
                  30 minutes!</strong>
              </p>
              </div>
            </div>
          </div>
        </div>
 
    <!-- Pricing starts as low as ... -->
    <div class="container py-3 mt-4">
      <center>
        <img src="{% static 'img/rsz_pricing.png' %}"  alt="...">
        <h3 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.75rem; font-weight: 700;">
          Pricing starts as low as N900 per <br> package
        </h3>
        <h5 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.2rem; font-weight: 400;">
          No delivery fee. Ordering is stress-free
        </h5>
      </center>
    </div>

    <!-- Areas available soon -->
    <div class="container-fluid container py-3 mt-4">
      <h4 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.5rem; font-weight: 700;">
        Areas Available Now
      </h4>

      <div class="row mt-4">

        <div class="col-md-3">
          <div class="card mb-3 border-0">
            <img src="{% static 'img/maincampus.jpg' %}" class="card-img-top rounded" alt="...">
            <div class="card-body pl-0">
              <p class="text-center" style="font-weight: 500;">Main Campus</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-3 border-0">
            <img src="{% static 'img/eziobodo.jpg' %}" class="card-img-top rounded" alt="...">
            <div class="card-body pl-0">
              <p class="text-center" style="font-weight: 500;">Eziobodo</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-3 border-0">
            <img src="{% static 'img/ihiagwaa.jpg' %}" class="card-img-top rounded" alt="...">
            <div class="card-body pl-0">
              <p class="text-center" style="font-weight: 500;">Umuchima</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-3 border-0">
            <img src="{% static 'img/ihiagwa.jpg' %}" class="card-img-top rounded" alt="...">
            <div class="card-body pl-0">
              <p class="text-center" style="font-weight: 500;">Ihiagwa</p>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="card mb-3 border-0">
            <img src="{% static 'img/bg.jpg' %}" class="card-img-top rounded" alt="...">
            <div class="card-body pl-0">
              <p class="text-center" style="font-weight: 500;">Main Campus</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3 border-0">
            <img src="{% static 'img/umuchima.jpg' %}" class="card-img-top rounded" alt="...">
            <div class="card-body pl-0">
              <p class="text-center" style="font-weight: 500;">Umuchima</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Africa's foremost portioned -->
    <div class="container-fluid py-3 mt-4">
      <center>
        <h1 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.8rem; font-weight: 700; color: #000;">
          Africa's foremost online pre-rationed grocery service
        </h1>
      </center>
    </div>

    <!-- WHY CHOOSE VALORES -->

    <div class="container py-3 mt-4">

      <div class="row">

        <div class="col-lg-6 col-md-4 col-sm-6">
            <center>
              <img src="{% static 'img/rsz_1just.png' %}" alt="...">
            </center>
        </div>
      
        <div class="col-lg-6 col-md-8 col-sm-6" style="overflow: hidden; ">

          <div style="float: left;">
            <h2 class="mb-4"
            style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 0.8rem; font-weight: 700; color: #000;">
            <strong>WHY CHOOSE VALORES</strong>
          </h2>
          </div>

          <div style="float: left;">
             <div>
            <div class="left" style="float: left;">
              <img src="{% static 'img/affor.png' %}">
            </div>
            <div class="right">
              <h1 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.2rem; font-weight: 500;">
                Affordable healthy meals for you
              </h1>
              <p style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 0.9rem; font-weight: 300;">
                Spend less for more value on grocery of all your favorite meals. Every package is
                  complete, carefully and selectively rationed to meet your nutritional needs.
              </p>
            </div>
          </div>

          <div>
            <div class="left" style="float: left;">
              <img src="{% static 'img/hassle.png' %}">
            </div>
            <div class="right">
              <h1 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.2rem; font-weight: 500;">
                Hassle-free and safe grocery shopping experiences
              </h1>
              <p style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 0.9rem; font-weight: 300;">
                Shop for groceries-per-meal with ease, and seamless payment experience from your home, work-place or school. Free and fast delivery!
              </p>
            </div>
          </div>

          <div>
            <div class="left" style="float: left;">
              <img src="{% static 'img/grocery.png' %}">
            </div>
            <div class="right">
              <h1 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.2rem; font-weight: 500;">
              Grocery wastes and lost savings
              </h1>
  
            <p style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 0.9rem; font-weight: 300;">
              Cease excessively spending on food items, eventually ending up in the bins without consumption.
                Save money, get value!
            </p>
            </div>
          </div>
          
          </div>      
        </div>
      </div>
    </div>


    <div class="container-fluid">

      <div class="container py-3 mt-4">

        <h2 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.5rem; font-weight: 700;">
          All Meals
        </h2>
        <p style="font-weight: 400;">
          Explore more meal varieties and selection soon! We are working to serve all your needs.
        </p> 
        
        <br />
        
        <!--Section: Products v.3-->
        <section class="text-center mb-4">
  
          <div class="row wow fadeIn">
  
            {% for item in object_list %}
            <div class="col-lg-4 col-md-3 mb-4">
              <div class="card">
  
                <div class="view overlay">
                  <img src="{{ item.image.url }}" class="card-img-top">
                  <a href="{{ item.get_package_url }}">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
                <div class="card-body text-center">
                  <h5>
                    <strong>
                      <a href="{{ item.get_package_url }}" class="dark-grey-text">{{ item.title }}
                      </a>
                    </strong>
                  </h5>
  
                  <h4 class="font-weight-bold" style="color: #b20b0b;">
                    <strong>N{{ item.price }}

                    <!-- {% if item.discount_price %}
                    {{ item.discount_price }}
                    {% else %}
                    {{ item.price }}
                    {% endif %} -->

                    </strong>
                  </h4>
  
                </div>
  
              </div>
  
            </div>
            {% endfor %}

          </div>
  
        </section>
        <!--Section: Products v.3-->
      </div>
    </div>
        
  
        <!-- Diets for you -->
      <div class="container-fluid py-3 mt-4" style="background-color: #f3e6e6;">
        <div class="container py-3 mt-4">
          <h2 style="font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-size: 1.5rem; font-weight: 700;">Diets For You</h2>
          <p style="font-weight: 400;">Curated to suit your nutritional needs and dietary preferences. Coming soon!</p> <br />
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-3 border-0">
                <img src="{% static 'img/glutenfree.jpg' %}" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                  <p class="text-center" style="font-weight: 500;">Gluten Free</p>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-3 border-0">
                <img src="{% static 'img/lowcarb.jpg' %}" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                  <p class="text-center" style="font-weight: 500;">Low Carb</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-3 border-0">
                <img src="{% static 'img/paleo.jpg' %}" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                  <p class="text-center" style="font-weight: 500;">Paleo</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-3 border-0">
                <img src="{% static 'img/Vegan.jpg' %}" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                  <p class="text-center" style="font-weight: 500;">Vegan</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-3 border-0">
                <img src="{% static 'img/shirt.jpg' %}" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                  <p class="text-center" style="font-weight: 500;">Mediterranean</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-3 border-0">
                <img src="{% static 'img/lunch.jpg' %}" class="card-img-top rounded" alt="...">
                <div class="card-body pl-0">
                  <p class="text-center" style="font-weight: 500;">Flexitarian</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

{% endblock content %}


